.hero-section {
  background-color: #2e2f42;
  padding: 188px 0px;
}
.hero-section > .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  font-size: 56px;
  letter-spacing: 0.02em;
  font-weight: 700;
  max-width: 496px;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
